<main>
  <form>
    <input type="text" placeholder="Shorten a link here" aria-label="link" />
    <button type="submit">Shorten it!</button>
  </form>

  <div class="features-container">
    <div class="feature__about">
      <h2 class="feature__title">Advanced Statistics</h2>
      <p class="feature__description">
        Track how your links are performing across the web wiht our advanced
        stastistics dashboard.
      </p>
    </div>

    <div class="feature feature--1">
      <img src="../../assets/images/icon-brand-recognition.svg" alt="" />
      <h2 class="feature__title">Brand Recognition</h2>
      <p class="feature__description">
        Track how your links are performing across the web wiht our advanced
        stastistics dashboard.
      </p>
    </div>

    <div class="feature feature--1">
      <img src="../../assets/images/icon-brand-recognition.svg" alt="" />
      <h2 class="feature__title">Detailed Records</h2>
      <p class="feature__description">
        Track how your links are performing across the web wiht our advanced
        stastistics dashboard.
      </p>
    </div>

    <div class="feature feature--1">
      <img src="../../assets/images/icon-brand-recognition.svg" alt="" />
      <h2 class="feature__title">Fully Customizable</h2>
      <p class="feature__description">
        Track how your links are performing across the web wiht our advanced
        stastistics dashboard.
      </p>
    </div>
  </div>
</main>
